[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Jaden Rollman
	email = headed.weals0u@icloud.com
[init]
	defaultBranch = main
